html {
  background-color: #1e1e1e;
  color: rgb(200, 200, 200);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
}

h3 {
  background-color: rgb(132, 0, 255);
  color: black;
}

#parrafo {
  border: 5px solid rgb(0, 50, 50);
  color: rgb(0, 50, 50);
  background-color: rgb(144, 255, 255);
  font-weight: bold;
}

.text-20 {
  font-size: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-black {
  background-color: black;
}

.color-green {
  color: green;
}

.color-cyan {
  color: cyan;
}

.hijos-directos > li {
  background-color: salmon;
}

.hijos-descendientes b {
  background-color: salmon;
}

.hermanos-general ~ li {
  background-color: salmon;
}

.hermanos-adyacentes + li {
  background-color: salmon;
}

.selectores-atributos a[href] {
  color: orangered;
}

.selectores-atributos a[target="_blank"] {
  font-weight: bold;
  text-decoration: none;
  background-color: sandybrown;
}

.selectores-atributos a[href*=".co"] {
  font-size: 20px;
}

.selectores-atributos a[href^="https"] {
  text-transform: uppercase;
}

.selectores-atributos a[href$=".tv"] {
  background-color: darkcyan;
}

.selectores-atributos a[class~="trabajo"] {
  background-color: black;
}

.selectores-atributos a[class|="red"] {
  background-color: tomato;
}

.selector-universal * {
  color: salmon;
}
