:root {
  --titlecolor: rgb(198, 138, 255);
  --dark: rgb(30, 30, 30);
  --hover: rgb(132, 0, 255);
  --violet: rgb(72, 0, 93);
  --light: rgb(200, 200, 200);
}

html {
  background-color: var(--dark);
  color: var(--light);
  font-family: sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.indice h2 {
  color: var(--titlecolor);
  background-color: var(--violet);
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.indice a {
  display: inline-block;
  background-color: var(--violet);
  color: var(--light);
  width: 100%;
  height: 4rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.indice a:hover {
  background-color: var(--hover);
}

.indice {
  width: 80%;
  min-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: var(--titlecolor);
  border-radius: 1rem;
}
