html {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.bg-coral {
  background-color: coral;
}

.item {
  font-size: 1.5rem;
  text-align: center;
  background-image: radial-gradient(coral, brown);
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}
