html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: auto;
  max-width: 1280px;
}

.row-sb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 100%;
}

@media (min-width: 576px) {
  .item {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 992px) {
  .item {
    flex: 0 0 25%;
  }
}

@media (min-width: 1200px) {
  .item {
    flex: 0 0 16.66%;
  }
}
