html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(30, 30, 30);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  height: 4rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  color: rgb(200, 200, 200);
  font-size: 2rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

a:hover {
  background-color: rgb(30, 30, 30);
}
