html {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg-olive {
  background-color: olive;
}

.color-rgb {
  background-color: rgb(0, 88, 100);
}

.color-rgba {
  background-color: rgba(0, 88, 100, 0.5);
}

.color-hex {
  background-color: #00586480;
}

.color-hsla {
  background-color: hsla(187, 100%, 20%, 0.502);
}

.colors-div {
  display: inline-block;
  width: 150px;
  height: 150px;
}
