html {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  color: rgb(200, 200, 200);
  padding: 20px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

a:hover {
  background-color: rgb(50, 50, 50);
}
