html {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg-magenta: rgb(175, 0, 166);
}

.code-props pre {
  --primary-color: rgb(10, 10, 10);
  --font-size: 32px;
  background-color: var(--primary-color);
}

.p-props {
  background-color: var(--bg-magenta);
}

.div-ch-10 {
  --padding-size: 2ch;
  --num-ch: 10ch;
  width: 10ch;
  background-color: var(--bg-magenta);
  font-size: 2rem;
  padding: var(--padding-size);
  width: calc(var(--num-ch) + var(--padding-size) * 2);
}

.div-clamp {
  font-size: clamp(2rem, 1rem + 3vw, 3rem);
}
