html {
  background-color: rgb(30, 30, 30);
  font-family: sans-serif;
}

h3 {
  color: coral;
  font-size: 32px;
}

.menu-nav li {
  list-style: none;
  display: inline;
}

.menu-nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 60);
  background-color: rgb(0, 60, 60);
}

.menu-nav ul li a:hover {
  background-color: rgb(200, 200, 200);
}

.bg-aqua {
  background-color: rgb(0, 80, 80);
}

.color-white {
  color: rgb(200, 200, 200);
}

.text-32 {
  font-size: 32px;
}

.text-up {
  text-transform: uppercase;
}

.pie-footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}

.caja {
  background-color: rgb(150, 0, 0);
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
}

.caja:hover {
  background-color: green;
}
