:root {
  --bg-color-1: rgb(30, 30, 30);
  --color-1: rgb(200, 200, 200);
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: var(--bg-color-1);
  color: var(--color-1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.box {
  border: 0.4rem solid rebeccapurple;
  width: 12rem;
  height: 12rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.box-shadow {
  box-shadow: 1rem 1rem 1rem 0.1rem purple;
}

.text-shadow {
  text-shadow: 0.5rem 0.5rem 0.2rem purple;
}

.shadow-multiple {
  box-shadow: 1rem 1rem 1rem 0.1rem purple, -1rem -1rem 1rem 0.1rem brown;
  text-shadow: 0.5rem 0.5rem 0.2rem purple, 0rem 5rem 0.2rem brown;
}

.linear-gradient-1 {
  background-image: linear-gradient(red, orange);
}

.linear-gradient-2 {
  background-image: linear-gradient(red, orange, green);
}

.linear-gradient-3 {
  background-image: linear-gradient(45deg, red, orange, green);
}

.radial-gradient-1 {
  background-image: radial-gradient(cyan, blue);
}

.radial-gradient-2 {
  background-image: radial-gradient(cyan, blue, green);
}

.radial-gradient-3 {
  background-image: radial-gradient(at top, cyan, blue);
}

.conic-gradient-1 {
  color: black;
  background-image: conic-gradient(lightgreen, green);
}

.conic-gradient-2 {
  color: black;
  background-image: conic-gradient(lightgreen, green, red);
}

.card,
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7 {
  border: 0.4rem solid rebeccapurple;
  width: 37.5rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.card img,
.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img,
.card-5 img,
.card-6 img,
.card-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-1 img {
  filter: blur(0.2rem);
}

.card-2 img {
  filter: brightness(0.2);
}

.card-3 img {
  filter: contrast(0.2);
}

.card-4 img {
  filter: grayscale(1);
}

.card-5 img {
  filter: sepia(1);
}

.card-6 img {
  filter: hue-rotate(80deg);
}

.card-7 img {
  filter: invert(1);
}
